@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppines-Medium;
  src: url("/fonts/Poppines-Medium.ttf") format(.ttf);
}

body {
  /* margin: 0px 90px; */
  font-size: 13px;
}
